h1{
    text-align: center;
    color: rgb(235,180,44);
    background-color: rgb(5,1,43);
    border: 2px solid rgb(0, 0, 0);
    font-size:20px;
    font-style:initial;
}
h2{
    text-align: center;
    color: rgb(235,180,44);
    background-color: rgb(5,1,43);
    border: 2px solid rgb(0, 0, 0);
    font-size:20px;
    font-style:initial;
}

.h2 a:hover{
    background-color: rgb(5,1,43);
}

.h2 li{
    float: left;
}

.h3{
    text-align: center;
    color: rgb(235,180,44);
    background-color: rgb(5,1,43);
    border: 2px solid rgb(0, 0, 0);
    font-size:20px;
    font-style:initial;
}
body{
    background-image: url(background.png);
    background-attachment: scroll;
    background-color:rgb(5,1,43);
}
.navbar ul{
    text-align: center;
    list-style-type: none;
    border: 2px solid rgb(5,1,43);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.navbar a{
    text-align: center;
    text-decoration: none;
    color: rgb(235,180,44);
    background-color: rgb(5,1,43);
    border-radius: 10px;
    padding: 120px;
    margin: 10px;
}

.navbar a:hover{
    background-color: rgb(10, 1, 87);
    border-radius: 10px;
}

.navbar li{
    float: left;
}

.box1{
    list-style-type: none;
    text-decoration: none;
    display: block;
    margin:10px;
    padding:0px;
    overflow: hidden;
}

.box2{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    display: block;
    margin:10px;
    padding:0px;
    overflow: hidden;
}

.box3{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    display: block;
    margin:10px;
    padding:0px;
    overflow: hidden;
}